<nav class="navbar navbar-default navbar-fixed-top gray" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand dark" href="/"><div class="title">mattkostelecky.com</div></a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li class="<%= 'active' if current_page?(about_about_path)%>">
            <%= link_to about_about_path, id: "About" do %>
                <i class="fa fa-question-circle fa-fw space-icon-out" ></i>
                    About
            <% end %>
      </li>
      <li class="<%= 'active' if current_page?(projects_projects_path)%>">
            <%= link_to projects_projects_path, id: "Projects" do %>
                <i class="fa fa-book fa-fw space-icon-out" ></i>
                Projects
            <% end %>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle color-change" data-toggle="dropdown"><i class="fa fa-leaf fa-fw space-icon-out"></i>
          Color <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">

          <li><%= link_to root_path, id:"#2980b9" do %>
                <i id="#2980b9" class="fa fa-square fa-fw space-icon-out" style="color: #2980b9;"></i>
                Blue
            <% end %>
          </li>
          <li><%= link_to root_path, id:"#8e44ad" do %>
                <i id="#8e44ad" class="fa fa-square fa-fw space-icon-out" style="color: #8e44ad;"></i>
                Purple
            <% end %>
          </li>
          <li><%= link_to root_path, id:"#453823" do %>
                <i id="#453823" class="fa fa-square fa-fw space-icon-out" style="color: #453823;"></i>
                Brown
            <% end %>
          </li>
          <li><%= link_to root_path, id:"#F7CA18" do %>
                <i id="#F7CA18" class="fa fa-square fa-fw space-icon-out" style="color: #F7CA18;"></i>
                Yellow
            <% end %>
          </li>
          <li><%= link_to root_path, id:"#c0392b" do %>
                <i id="#c0392b" class="fa fa-square fa-fw space-icon-out" style="color: #c0392b;"></i>
                Red
            <% end %>
          </li>
          <li><%= link_to root_path, id:"#d35400" do %>
                <i id="#d35400" class="fa fa-square fa-fw space-icon-out" style="color: #d35400;"></i>
                Orange
            <% end %>
          </li>
          <li><%= link_to root_path, id:"#27ae60" do %>
                <i id="#27ae60" class="fa fa-square fa-fw space-icon-out" style="color: #27ae60;"></i>
                Green
            <% end %>
          </li>
          <li><%= link_to root_path, id:"#6C7A89" do %>
                <i id="#6C7A89" class="fa fa-square fa-fw space-icon-out" style="color: #6C7A89;"></i>
                Gray
            <% end %>
          </li>
          <li><%= link_to root_path, id:"#2c3e50" do %>
                <i id="#2c3e50" class="fa fa-square fa-fw space-icon-out" style="color: #344343;"></i>
                Midnight
            <% end %>
          </li>
          <!-- <li><a href="main.html">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="main.html">Separated link</a></li>
          <li class="divider"></li>
          <li><a href="main.html">One more separated link</a></li>
          -->
        </ul>
      </li>
        <!--<a href="static_pages/login"><i class="fa fa-user fa-fw space-icon-out"></i>user@gmail.com</a>-->
    </ul>
  </div><!-- /.navbar-collapse -->
  <div class="lineoooo"></div>
</nav>
<script type="text/javascript">
    // jQuery example
    $(document).ready(function () {
        //Retrieve stored navbar color
        $('.navbar.navbar-default.navbar-fixed-top').css('background-color',localStorage.getItem("curColor"));
        //for setting active state to the list views
        $('.dropdown-menu').find('li').on('click', function(e) {
            event.preventDefault();
            var color = event.target.id;
            $('.navbar.navbar-default.navbar-fixed-top').css('background-color',color);
            //Store color
            localStorage.setItem("curColor", color);
        });
    });
</script>